/*-----------------------
    RESET
-----------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    height: 100vh;
}

header {
    position: fixed;
    right: 0;
    left: 300px;
    background-color: red;
    height: 90px;
}

.page-container {
    display: flex;
    height: calc(100% - 80px);
    background-color: aqua;
}

aside {
    width: 300px;
    background-color: blueviolet;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow-y: hidden;
}

main {
    width: 100%;
    /* flex-grow: 1; */
    overflow-y: auto;
}

footer {
    height: 80px;
    background-color: bisque;
}

.account {
    background-color: brown;
    padding: 20px;
    margin-top: auto;
}

.logo {
    height: 90px;
    padding: 20px;
}

.main-nav li {
    display: flex;
    align-items: center;
    padding-left: 18px;
}
.main-nav li img {
    height: 25px;
}

.main-nav li {
    border-left: 2px solid transparent;
}
.main-nav li:first-child {
    border-color: lightgreen;
}
.playlist {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}
.playlist-header {
    padding-left: 20px;
    padding-right: 20px;
}

.hide-desktop {
    display: none;
}

/* Main */
main {
    padding-top: 120px;
}
.secondary-nav ul {
    display: flex;
    justify-content: center;
}
.secondary-nav li {
    position: relative;
    list-style: none;
}

.secondary-nav li a {
    display: inline-block;
    padding: .625rem;
    text-decoration: none;
}

.secondary-nav li:first-child::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    width: 50px;
    height: 3px;
    background-color: lightgreen;
}
.secondary-nav li:hover a {
    color: #fff;
}
/* Mobile */
@media screen and (max-width: 600px) {
    aside {
        width: 50px;
    }
    .hide-mobile {
        display: none;
    }
    .hide-desktop {
        display: block;
    }
}